
<%= link_to '#license_modal', id: "license_link", role: 'button', data: {toggle: 'modal'} do %>
    <span class='icomoon-cc'></span> Using Our Images
<% end %>

<div id="license_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><span class='icomoon-cc'></span> Licensing</h3>
  </div>
  <div class="modal-body">
    All images are available under a Creative Commons license, which means you can copy, print, and share for personal, non-commercial interests. If you intend to use images in publications or other media, including websites, please drop us a note to let us know about this--it's wonderful to see the images used and enjoyed.
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
    <h4>Do You Need Higher Resolution Images?</h4>
    <p>Most of the repeat and historic images on this website exist at a much higher resolution (i.e. generally greater than 5000px on the long edge). If you require a higher resolution version, we might be able to help you out. Please contact <%= link_to "mntnlgcy@uvic.ca", "mailto:mntnlgcy@uvic.ca" %> with your request and make sure you include links to any images that you are interested in obtaining.</p>
  </div>
</div>
