<div id='home_page_header_bar'></div>
<div class="container">
   <div class='row' id='title_row'>
      <div id='landing_logo_group'>
        <div id="landing_logo_text" class='brand'>
          <span class='icomoon-explore-brand'></span>Explorer
        </div>
        <div id='landing_logo_byline'>
          By <a href='http://www.mountainlegacy.ca'>
          <%= image_tag(asset_path("legacy_logo_landing.png"), atl: "Mountain Legacy Logo", class: "mountain_legacy_logo") %>
          </a>
        </div>
      </div>
    </div>
</div>
    <div class='wide_row' style='height: 501px;'>
        <div id="cross_fade">
          <%= image_tag asset_path('donald_his_v2.jpg'), class: "top", alt: "Mount Sir Donald Historic Image" %>
          <%= image_tag asset_path('donald_mod_v2.jpg'), class: "bottom", alt: "Mount Sir Donald Modern Image" %>
        </div>
        <div id='big_buttons_container'>
          <%= link_to "Start Exploring", station_path(start_exploring_station), id: 'big_button', class: 'explorer_btn', data: {'skip-pjax' => true} %>
        </div>
  </div>
<div class="container-fluid" id="info_container">
  <div class='row-fluid' id='info_row'>
    <div class='span4'>
      <h3>What is the Mountain Legacy Project?</h3>
      <div class='landing_navigation_text'>
        <div class='comparison_wrapper'>
          <div class="comparison_before_after">
            <%= image_tag( asset_path("sample_repeat2_small.jpg")) %>
            <%= image_tag( asset_path("sample_historic2_small.jpg")) %>
          </div>
        </div>
     MLP is an interdisciplinary collaboration focused on exploring change in Canada's mountain environments. Utilizing over 140,000 images taken by land surveyors from 1861 - 1953, MLP researchers seek to re-photograph these images as accurately as  possible and make the resulting image pairs available for further investigation. For more information on the project check out <a href='http://www.mountainlegacy.ca'>www.mountainlegacy.ca</a></div><%= link_to "Get Started", station_path(start_exploring_station), id: 'get_started_button', class: 'explorer_btn', data: {'skip-pjax' => true} %>
    </div>
    <div class='span4'>
      <h3>What is Explorer?</h3>
      <div class='landing_navigation_text'>
        <div class='comparison_wrapper'>
          <div class="comparison_before_after">
            <%= image_tag( asset_path("sample_repeat1_small.jpg")) %>
            <%= image_tag( asset_path("sample_historic1_small.jpg")) %>
          </div>
        </div>
         Explorer is a map-based tool designed to allow anyone with a modern web browser to investigate the MLP collection.  Clicking on a map point will show historic and modern comparative photographs. More images are added as they are completed, so visit often to see what's new!</div>
        <br>
         <p class="contact_us"><strong>IMAGE ANALYSIS TOOLKIT AVAILABLE: </strong>Try out the beta version of our new
<strong><a href="iat/sbsm.html" target="_blank"> Image Analysis Toolkit.</a> </strong>
Side-by-side image comparison allows for a range of visualizations, including categorization, annotation, scaling, cross and wipe fades, and more.
Image classification and descriptive statistics are also available. </p>

    </div>
    <div class='span4'>
      <h3>Can I use MLP Images?</h3>
      <div class='landing_navigation_text' id='license_text'><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img id='cc_image' alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>All images are available under a Creative Commons license, which means you can copy, print, and share for personal, non-commercial interests. If you intend to use images in publications or other media, including websites, please drop us a note to let us know about this--it's wonderful to see the images used and enjoyed.</div><br/>
      <p class='contact_us'><strong>Contact Us</strong>: <%= link_to "mntnlgcy@uvic.ca", "mailto:mntnlgcy@uvic.ca" %></p>
    </div>
  </div>
</div>

