<% comparisons_aligned, comparisons_unaligned = partition_aligned(base_comparison, comparisons) %>
<div class='data-pane-body capture_well' id='<%= "#{base_comparison.class.name}_#{base_comparison.id}_show" %>' >
  <%= breadcrumb_div(base_comparison, separator: "/", with_self: true, suffix: "Comparisons").html_safe %>
  <h2>Comparisons</h2>
  <% comparisons_aligned.each do |comparison| %>
    <div class='row-fluid'>
      <%= content_tag "a", "", name: "#{comparison.class.name}_#{comparison.id}" %>
      <div class="comparison_before_after">
        <div class='comparison_date_top_right'><%= comparison_date_formatted(base_comparison) %></div>
        <div class='comparison_date_top_left'><%= comparison_date_formatted(comparison) %></div>
        <%= image_tag base_comparison.preview_image.medium.url %>
        <%= image_tag comparison.preview_image.medium.url %>
      </div>
    </div>
    <strong><%= link_to("Import into the Image Analysis Tool", root_path + "iat/sbsm.html?#{base_comparison.preview_image.url},#{comparison.preview_image.url}", data: { "skip-pjax": true }) %></strong>
  <% end %>
  <% if comparisons_unaligned.present? %>
    <h4>Pending Alignment</h4>
    <p>Images cannot be displayed as overlays unless they are aligned. Comparisons pending alignment are, therefore, displayed side-by-side. Check back soon to see if images have been aligned.</p>
    <% comparisons_unaligned.each do |comparison| %>
      <div class='row-fluid'>
        <div class='span6'>
          <%= content_tag "a", "", name: "#{comparison.class.name}_#{comparison.id}" %>
          <div class='relative_wrapper'><div class='comparison_date_top_right'><%= comparison_date_formatted(base_comparison) %></div></div>
          <%= image_tag base_comparison.preview_image.medium.url %>
        </div>
        <div class='span6'>
          <div class='relative_wrapper'><div class='comparison_date_top_right'><%= comparison_date_formatted(comparison) %></div></div>
          <%= image_tag comparison.preview_image.medium.url %>
        </div>
      </div>
      <strong><%= link_to("Import into the Image Analysis Tool", root_path + "iat/sbsm.html?#{base_comparison.preview_image.url},#{comparison.preview_image.url}", data: { "skip-pjax": true }) %></strong>
    <% end %>
  <% end %>
</div>
