/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require meat_base/application
 */
/*
* pikock, autreplanete http://www.autreplanete.com/
*
**/


.navbar .nav li.dropdown.open > .dropdown-toggle {
  background-color: white;
}

#explorer_header .navbar .divider-vertical {
    height: 37px;
    margin: 2px 9px;
    border-left: 1px solid #f1f2f3;
    border-right: 1px solid #f1f2f3;
}

#nav-pane {
  box-shadow: 0px 0px 49px 1px #E2E2E2;
  border-right: 2px solid #E2E2E2;
}
#show_title {
  text-transform: uppercase;
  letter-spacing: .2em;
  color: white;
  margin: 0px;
}
#show_title_wrapper {
  background-color: transparentize(#660000, 0.20);
  margin-left: -3.7%;
  margin-right: -0.6%;
  padding-left: 3.8%;
  height: 40px;
}

#license_link, #view_print_ready {
  margin-left: 10px;
}

#preview_image .display_name {
  position: absolute;
  z-index: 55;
  padding: 1px 5px;
  background: rgba(102, 0, 0, 0.59);
  color: white;
  right: 33%;
  left: 33%;
  bottom: 0px;
  text-align: center;
}


