$brandFont: Lora, Times, Georgia, 'Times New Roman', serif;

body#home {
  padding-top: 0px;
  background-color: white;
}
#title_row {
  margin-left: 0px;
}
#info_container {
  background-color: #f1f2f3;
  padding: 35px 17px;
}
#info_row {
  #license_text {
    margin-right: 20px;
  }
}
#home_page_header_bar {
  height: 10px;
  background-color: #600;
}
#landing_logo_group {
  padding: 25px 5px 10px 5px;
}
#landing_logo_text {
  font-size: 91px;
}
#landing_logo_byline {
  font-size: 16px;
  text-align: left;
  margin-left: 230px;
  display: inline;
  .mountain_legacy_logo {
    margin-top: 10px;
    max-height: 31px;
  }
}
.beta {
  display: inline;
}
#explorer_header .beta {
  margin-top: -44px;
}
#landing_logo_tagline {
  float: right;
  margin: 39px 204px 0px 5px;
  font-size: 20px;
  font-style: italic;
}
#map_sample {
  float: right;
  padding: 7px;
  margin: 9px;
}
#landing_query{
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.wide_row {
  text-align: center;
  position: relative;
  #big_buttons_container{
    text-align: center;
    z-index: 1;
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
  }
  #cross_fade {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1400px;
    position: relative;
    img.top:hover {
      opacity:0;
    }
    img {
      width: 100%;
      max-width: 1400px;
      margin-left: auto;
      margin-right: auto;
    }
    img.top {
      z-index: 1;
      position:absolute;
      left:0;
      -webkit-transition: opacity 4s ease-in-out;
      -moz-transition: opacity 4s ease-in-out;
      -o-transition: opacity 4s ease-in-out;
      transition: opacity 4s ease-in-out;
    }
  }
}

#big_button {
  font-size: 25px;
  padding: 15px 25px;
  margin: 40px;
  border: solid 1px #C08282;
}
.landing_comparison_wrapper {
  padding: 0px;
  margin-top: 25px;
  .comparison_before_after {
    margin: 9px;
  }
}
.explorer_btn {
  display: inline-block;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #ffffff;
  font-size: 15px;
  font-family: $brandFont;
  background: #600;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition: all 0.3s ease 0s;

}

.explorer_btn:hover, .explorer_btn:focus {
  color: #ffffff;
  background: #723232;
  text-decoration: none;
}

#get_started_button {
  margin: 10px 0px 10px 65px;
}
#footer{
  background-color: #600;
  font-size: 35px;
  color: white;
  text-align: center;
  padding: 4px 0px;
  .icomoon-explore-brand {
    opacity: 0.5;
  }
}

html.no_nav, body.no_nav {
  height: 100%;
}
.landing_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}
#footer, .push {
  height: 40px;
}

.comparison_wrapper {
  float: right;
  margin: 5px;
  .comparison_before_after {
    margin: 0px;
    border: 2px solid white;
  }
}
#cc_image {
  float: right;
  margin: 5px;
}
