$headerSize: 41px;
$brandFont: Lora, Times, Georgia, 'Times New Roman', serif;

body {
  padding-top: $headerSize;
}


#pane_container {
  position: fixed;
  right: 0px;
  left: 0px;
  top: $headerSize;
  bottom: 0px;
}

div#pane_container > div.container-fluid {
  padding-left: 0px;
}

#nav-pane div.navbar {
  margin-bottom: 0px;
}


#explorer_header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $headerSize;
  background-color: white;
  z-index: 1030;
  a {
    text-decoration: none;
  }
  .brand {
    a:hover, a:focus {
      color: #600;
    }
  }
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}

#header_background_container {
  height: 100%;
  width: 100%;
}

.right-side-container {
  float: right;
  display: inline-block;
}

div.brand {
  font-weight: 700;
  color: #600;
  font-family: $brandFont;
}
#header_background_container div.brand {
  display: inline-block;
  padding-left: 10px;
  line-height: 40px;
  font-size: 26px;
}

#brand-byline {
  position: absolute;
  bottom: 6px;
  display: inline-block;
  margin-left: -1px;
  font-size: 11px;
  img {
    position: relative;
    top: 4px;
  }
}

#query {
  width: 115px;
}
