<title>MLP Explore | <%= get_title_page(@current_node_ivar) %></title>
<%= include_gon %>
<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lora:400,700">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,700">
