<header id="explorer_header">
  <div id='header_background_container'>
      <div class='brand'><a href='/' data-skip-pjax><span class='icomoon-explore-brand'></span> Explorer</a></div>
      <!-- <div id='brand-byline'>By<a href='http://www.mountainlegacy.ca'>
      <%= image_tag(asset_path('legacy_logo_small.png'), alt: 'Mountain Legacy Logo') %></a></div>
      <%= image_tag(asset_path('Beta-Stamp25px.png'), class: 'beta', alt: 'Beta') %> -->
      <div class='navbar right-side-container'>
      <ul class='nav' role='navigation'>
          <li><%= link_to('<span class="icomoon-earth" title="Map View"></span> Map'.html_safe, map_path, {:data => {skip_pjax: true}, id: "map_link"}) %></li>
          <li>
            <form accept-charset="UTF-8" class="navbar-search" action="/search" method="get">
              <span class="icomoon-search" title="Search"></span> <input id="query" name="query" type="text" class="search-query" placeholder="Search Fieldnotes" />
            </form>
          </li>
          <li class="divider-vertical"></li>
        <li><a href='http://www.mountainlegacy.ca' data-skip-pjax><span class='icomoon-home'></span> Mountain Legacy Home</a></li>
        <!-- <li><a href='/' data-skip-pjax><span class='icomoon-home'></span> Explorer Home</a></li> -->
      </ul>
      </div>
    </div>
</header>
