<%
  #sets up the "active" navigation state based on session
  map_class, tree_class, filter_class, search_class = "", "", "",""
  if session[:nav_state]=='search'
    search_class = "active"
  else
    map_class="active"
  end
%>
<div class='submenu_bar'>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class='container' style='width: auto;'>
        <ul class='nav' role='navigation'>
          <li class="<%= map_class %>"><%= link_to('<span class="icomoon-earth" title="Map View"></i>'.html_safe, map_path, {:data => {skip_pjax: true}, id: "map_link"}) %></li>
        </ul>
        <ul id='toggle_nav_menu' class='nav pull-right'>
          <li><a id='toggle_nav_close'><span class='icomoon-minus' title='Collapse Navigation Bar'></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
