<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/common_html_head' %>
  </head>
  <body class='nav_and_data_pane'>
  <%= render 'layouts/header' %>
  <div id='pane_container'>
    <div class="container-fluid">
      <div class='row-fluid'>
            <div id='nav-pane' class='span5'>
              <div class='collapsed_overlay'><span id='toggle_nav_open' class='icomoon-plus' title='Expand Navigation Bar'></span></div>
              <% if session[:nav_state]=="search" %>
                  <%= render 'search/results', search: @search %>
              <% else %>
                  <%= render 'layouts/map', map: @map %>
              <% end %>
          </div>
          <div class='loading_overlay'>
          <%= image_tag(asset_path('meat_base/processing_throbber2.gif'), class: "loading_overlay_throbber", alt: 'Loading') %>
          </div>
          <div id='data-pane' class='span7' data-pjax-container>
            <%= yield %>
          </div>
        </div>
      </div>
  </body>
  <script src="//maps.google.com/maps/api/js?v=3&key=AIzaSyDfcHwBmTBpetwFXVzzrJEsVUg6q8bPYp0"></script> 
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <%= javascript_include_tag 'meat_base/mlp_map' %>
</html>
