<!DOCTYPE html>
<html class='no_nav'>
  <head>
    <%= render 'layouts/common_html_head' %>
  </head>
  <body id='home' class='no_nav'>
    <div class='landing_wrapper'>
      <%= yield %>
      <div class='push'></div>
    </div>
    <div id='footer'><span class='icomoon-explore-brand'></span></div>
  </body>
</html>
